<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset=utf-8">
    <meta name="viewport" content="width=375, initial-scale=1">
    <meta name="author" content="Mike Cronin">
    <meta name="description" content="DESCRIPTION">
    <title>TITLE</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
    <form action="/" method="post">
      <label for="name-inp">Name: </label>
      <input type="text" name="name" id="name-inp" />
      <label for="breed-inp">Breed: </label>
      <input type="text" name="breed" id="breed-inp" />
      <label for="age-inp">Age: </label>
      <input type="text" name="age" id="age-inp" />
      <input type="submit" value="submit" />
    </form>
    </div>
    <script src="/js/script.js" charset="utf-8"></script>
  </body>
</html>
