<form action="/" method="post">

<label for="name">Puppy Name</label>
<input
id="name"
type="text"
name="name"
value="">

<label for="breed">Puppy Breed</label>
<input id="breed" type="text" name="breed" value="">

<label for="age">Puppy Age</label>
<input id="age" type="text" name="age" value="">

  <input type="submit" id="submit">
</form>
