<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a Puppy</title>
  </head>
  <body>
    <form action="/" method="post">
      <!-- puppy name -->
      <label for="name">Name: </label>
      <input id="name" type="text" name="name">

      <!-- puppy breed -->
      <label for="breed">Breed: </label>
      <input id="breed" type="text" name="breed">

      <!-- puppy age -->
      <label for="age">Age: </label>
      <input id="age" type="text" name="age">

      <input type="submit" id="submit">
    </form>
  </body>
</html>
