<form action="/new" method="post">

    <div>
        <label for="name">Puppy Name</label>
        <input type="text" name="name">
    </div

    <div>
        <label for="breed">Puppy Breed</label>
        <input type="text" name="breed">
    </div
    
    <div>
        <label for="age">Puppy Age</label>
        <input type="text" name="age">
        <input type="submit" value="submit">
    </div

    

</form>