<% 
  name = params[:name]
  breed = params[:breed]
  age = params[:age]

%>
<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset=utf-8">
    <meta name="viewport" content="width=375, initial-scale=1">
    <meta name="author" content="Mike Cronin">
    <meta name="description" content="DESCRIPTION">
    <title>TITLE</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <h1>Puppy Name:</h1>
      <h2><%= name %></h2>      
      <h1>Puppy Breed:</h1>
      <h2><%= breed %></h2>
      <h1>Puppy Age:</h1>
      <h2><%= age %></h2>
    </div>
    <script src="/js/script.js" charset="utf-8"></script>
  </body>
</html>
